@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

/* -----------------------------------------
   Color mixin (Material 2)
------------------------------------------ */
@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        $primary: map.get($color-config, primary);
        $accent: map.get($color-config, accent);
        $warn: map.get($color-config, warn);

        .editions-table {
            margin-top: 24px;
            padding: 0;
            overflow: hidden;

            &__header {
                color: $grey;
                display: flex !important;
                justify-content: space-between !important;
                padding: 24px 24px 8px;
                border-bottom: 0.2px solid $light-grey;
                margin-bottom: 0;
            }

            .header-item {
                padding: 24px 24px 8px;
                border-bottom: 0.2px solid $light-grey;
            }

            &__title {
                font-size: $fs-medium;
                font-weight: $fw-lighter;
                margin: 0;
                line-height: 40px;
            }

            &__content {
                overflow-y: hidden;
                overflow-x: scroll;

                @media (max-width: $small) {
                    height: auto;
                }

                &__no-content {
                    padding: 10px;
                    font-size: $fs-small;
                    font-weight: $fw-lighter;
                    color: mat.m2-get-color-from-palette($warn);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &__table {
                width: 100%;
            }

            &__table-row {
                height: 64px;
            }

            &__table-row-title {
                color: $dark-grey;
                font-size: $fs-small;
                font-weight: $fw-bold;
                line-height: 24px;
                text-transform: uppercase;
                padding: 16px;
            }

            &__table-content {
                color: $dark-grey;
                font-size: $fs-small;
                padding: 20px;
                max-width: 200px;
            }

            &__content-badge {
                border-radius: 32px;
                color: $white;
                text-align: center;
                padding: 5px 10px;
                font-size: 13px;
                box-sizing: border-box;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: $fw-lighter;
                line-height: 1.75;
                letter-spacing: 0.457px;
                margin-right: 2px;
                white-space: nowrap;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            &__date {
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                padding: 5px 10px;
                max-width: 4rem;
                text-align: center;
            }
        }

        .published {
            background-color: mat.m2-get-color-from-palette($primary);

            &::after {
                content: "Published";
            }
        }

        .unpublished {
            background-color: mat.m2-get-color-from-palette($warn);

            &::after {
                content: "Not Published";
            }
        }
    }
}

/* -----------------------------------------
   Theme entry mixin
------------------------------------------ */
@mixin theme($theme) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }
}