# Node artifacts
node_modules/
dist/

# Angular
.angular/
.angular/cache/

# Environment & secrets
.env
.env.*
functions/.env
src/environments/environment.ts
src/environments/environment.prod.ts

# Firebase / GCP
.firebase/
.firebaserc
firebase.json
firebase-debug.log
runtimeconfig.json
service-account.json

# Logs
*.log
npm-debug.log*
yarn-error.log*

# IDEs
.idea/

# OS files
.DS_Store
Thumbs.db
._*

# Compiled / binary files
*.class
*.jar
*.war
*.exe
*.app

# Media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Tests & reports
TEST*.xml

# Docs build artifacts
docs/*

# Cache
*.cache
