.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(165, 165, 165, 0.317);

    z-index: 99999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-text {
    padding-top: 10px;
    color: #009688;
    font-size: large;

}