<mat-card>
    <mat-card-title>
        <div fxFlex="100" class="topic-title-action">
            <button mat-icon-button color="warn" (click)="onDelete.emit(index)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div fxFlex="45">
                <mat-form-field appearance='outline'>
                    <mat-label> Topic</mat-label>
                    <input matInput placeholder="Edition Name" [(ngModel)]="topic.name" required>

                </mat-form-field>
            </div>
            <div fxFlex="45">
                <mat-form-field appearance='outline'>
                    <mat-label> Desc</mat-label>
                    <input matInput placeholder="Edition Name" [(ngModel)]="topic.desc" required>
                </mat-form-field>
            </div>
            <div fxFlex="30">
                <mat-form-field appearance='outline'>
                    <mat-label> Pages </mat-label>
                    <input matInput type="number" placeholder="Pages" [(ngModel)]="topic.pages" required>
                </mat-form-field>
            </div>
            <div fxFlex="30" class="text-center">
                <div class="image-wrapper" (click)="onClickFile.emit(topic.banner)">
                    <img [src]="topic.banner" />
                </div>
            </div>
            <div fxFlex="30" class="text-center">
                <div class="image-wrapper" (click)="onClickFile.emit(topic.pdf)">
                    <mat-icon class="image-upload">picture_as_pdf</mat-icon>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>