<form class="form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field class="form__input" appearance='outline'>
    <input matInput placeholder="Email Address" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form__input" appearance='outline'>
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>

  <div class="form-actions">
    <button class="form-actions__login w-full" mat-raised-button color="primary" type="submit">Login</button>
  </div>

</form>
<button class="form-actions__forget w-full" mat-button>Forget password</button>