@import '/src/assets/styles/styles';

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: 6px;
  }
}

.form-actions {
  display: flex-col;
  justify-content: space-between;
  align-items: center;

  &__login {
    margin: 0 0 10px;
  }

  &__forget {
    font-size: 12px;
    font-weight: $fw-lighter;
    color: $blue;
  }
}
