@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

/* -----------------------------------------
   Color mixin (Material 2)
------------------------------------------ */
@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);

  @if $color-config !=null {
    $primary: map.get($color-config, primary);
    $accent: map.get($color-config, accent);
    $warn: map.get($color-config, warn);

    .user-button {
      background-color: mat.m2-get-color-from-palette($primary, 200);

      &__icon {
        color: mat.m2-get-color-from-palette($primary, 500-contrast);
      }
    }

    .user-menu {
      &__item-title {
        color: $light-grey;

        &:hover {
          color: mat.m2-get-color-from-palette($primary);
          background-color: mat.m2-get-color-from-palette($warn);

          .user-menu-icon {
            color: mat.m2-get-color-from-palette($primary);
          }
        }
      }
    }
  }
}

/* -----------------------------------------
   Theme entry mixin
------------------------------------------ */
@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
}