@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');
    $warn: map.get($color-config, 'warn');


    .add-edit-class-dialog {
        margin: 24px 0;
        padding: 0 10px;
        border-radius: 10px;
        box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

        &__title {
            font-size: 16px;
            padding: 10px;

        }

        &__content {
            padding: 10px;

        }

        &__action {
            padding: 10px;


        }
    }





}



@mixin theme($theme) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

}