<div class="add-edit-class-dialog">
    <div mat-dialog-title class=" add-edit-class-dialog__title">
        CREATE CLASS & SUBJECTS
    </div>
    <mat-dialog-content class="mat-typography add-edit-class-dialog__content">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="100">
                <mat-form-field style="width: 100%;" appearance='outline'>
                    <mat-label>Class Name</mat-label>
                    <input matInput [(ngModel)]="classObj.name" required />
                </mat-form-field>
            </div>
            <div fxFlex="45">
                <mat-form-field style="width: 100%;" appearance='outline'>
                    <mat-label>Display Order</mat-label>
                    <input matInput type="number" [(ngModel)]="classObj.order" />
                </mat-form-field>
            </div>
            <div fxFlex="45">
                <mat-form-field appearance='outline' class="date-picker">
                    <mat-label>Expiry Date</mat-label>
                    <input matInput placeholder="MM/DD/YYYY" (click)="picker.open()" [(ngModel)]="classObj.expiry_date"
                        [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="45">
                <mat-form-field style="width: 100%;" appearance='outline'>
                    <mat-label>Price</mat-label>
                    <input matInput type="number" [(ngModel)]="classObj.amount" required />
                </mat-form-field>
            </div>
            <div fxFlex="45">
                <mat-form-field style="width: 100%;" appearance='outline'>
                    <mat-label>Offer Price</mat-label>
                    <input matInput type="number" [(ngModel)]="classObj.offer_price" />
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <ng-container *ngFor="let item of subjects; let i=index">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5">
                        <div fxFlex="35">

                            <mat-form-field style="width: 100%;" appearance='outline'>
                                <mat-label>Subject Name</mat-label>
                                <input matInput [(ngModel)]="item.name" required name="subjectName{{i}}"
                                    [disabled]="!item.enabled" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="15">
                            <mat-form-field style="width: 100%;" appearance='outline'>
                                <mat-label>Subject Price</mat-label>
                                <input matInput type="number" [(ngModel)]="item.amount" name="subjectAmount{{i}}" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="15">
                            <mat-form-field style="width: 100%;" appearance='outline'>
                                <mat-label>Offer Price</mat-label>
                                <input matInput type="number" [(ngModel)]="item.offer_price" name="offerAmount{{i}}" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="20">
                            <div *ngIf="!item.enabled">

                                <button mat-icon-button (click)="editSubject(item)" color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteSubject(item)" color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="45"></div>
                <div fxFlex="45"></div>
            </div> -->
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="add-edit-class-dialog__action">
            <button mat-button mat-dialog-close color="warn">Cancel</button>
            <button mat-raised-button cdkFocusInitial color="primary" [disabled]="btnDisabled"
                (click)="submit()">{{btnText}}</button>
        </div>
    </mat-dialog-actions>
</div>