<div class="add-edit-class-dialog">
    <div mat-dialog-title class=" add-edit-class-dialog__title">
        EDIT SUBJECTS
    </div>

    <mat-dialog-content class="mat-typography add-edit-class-dialog__content">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5">
            <div fxFlex="45">

                <mat-form-field style="width: 100%;" appearance='outline'>
                    <mat-label>Subject Name</mat-label>
                    <input matInput [(ngModel)]="subject.name" required name="subjectName" />
                </mat-form-field>
            </div>
            <div fxFlex="45">
                <mat-form-field style="width: 100%;" appearance='outline'>
                    <mat-label>Subject Price</mat-label>
                    <input matInput type="number" [(ngModel)]="subject.amount" name="subjectAmount" />
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="add-edit-class-dialog__action">
            <button mat-button mat-dialog-close color="warn">Cancel</button>
            <button mat-raised-button cdkFocusInitial color="primary" (click)="submit()">Update</button>
        </div>
    </mat-dialog-actions>
</div>