@use '/src/assets/styles/styles' as *;

.mat-mdc-list-base {
  border-bottom: 1px solid $gray-80;
  width: $sidebar-width;
  padding-bottom: 16px;
  padding-left: 16px;

  & .mat-mdc-list-item {
    display: flex;
    cursor: pointer;
    color: $sidebar-font-color;
    width: auto;
    padding: 4px;

  }
}

.mat-icon {
  margin-right: 15px;
  padding-bottom: 2px !important;
  // color: $sidebar-icon-color;
}


.sidebar-title {
  padding: 4px 0;
  display: table-caption;
  font-size: $fs-normal;
  text-transform: uppercase;
}

.mat-mdc-list-base .mat-mdc-list-item.ui-element {
  padding-left: 40px;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $sidebar-circle-color;
  margin-right: 30px;
}

.project-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 8px;

  &_yellow {
    background-color: $yellow;
  }

  &_blue {
    background-color: $blue;
  }

  &_pink {
    background-color: $pink;
  }
}