@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

/* -----------------------------------------
   Color mixin (Material 2)
------------------------------------------ */
@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        $primary: map.get($color-config, primary);
        $accent: map.get($color-config, accent);
        $warn: map.get($color-config, warn);

        mat-card .mat-mdc-form-field {
            margin: 0;
            padding: 0;
        }

        .white {
            color: white;
        }

        .students {
            .students-table {
                margin-top: 24px;
                padding: 0;
                overflow: hidden;
                box-shadow: 0 3px 11px 0 $shadow-white,
                    0 3px 3px -2px $shadow-grey,
                    0 1px 8px 0 $shadow-dark-grey;

                &__header {
                    color: $grey;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 24px 24px 8px;
                    margin-bottom: 0;
                }

                &__filters {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;

                    .mat-form-field-infix {
                        padding: 0.5em 0 1em 0;
                        font-size: $fs-small;
                    }

                    .mat-form-field-label {
                        font-size: $fs-small;
                    }
                }

                &__title {
                    font-size: $fs-medium;
                    font-weight: $fw-lighter;
                    margin: 0;
                    line-height: 40px;
                }

                &__content {
                    overflow-y: hidden;
                    overflow-x: scroll;

                    @media (max-width: $small) {
                        height: auto;
                    }

                    &__no-content {
                        padding: 10px;
                        font-size: $fs-small;
                        font-weight: $fw-lighter;
                        color: mat.m2-get-color-from-palette($warn);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &__right {
                    text-align: right;
                    width: 100%;
                }

                &__btn {
                    .mat-mdc-unelevated-button {
                        margin-right: 2rem;
                    }
                }

                &__table {
                    width: 100%;
                }

                &__table-row {
                    height: 64px;
                }

                &__table-row-title {
                    color: $dark-grey;
                    font-size: $fs-small;
                    font-weight: $fw-bold;
                    line-height: 24px;
                    text-transform: uppercase;
                    padding: 16px;
                }

                &__table-content {
                    color: $dark-grey;
                    font-size: $fs-small;
                    padding: 20px;
                }

                &__content-badge {
                    width: fit-content;
                    border-radius: 32px;
                    color: $white;
                    text-align: center;
                    padding: 5px 10px;
                    font-size: 13px;
                    box-sizing: border-box;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: $fw-lighter;
                    line-height: 1.75;
                    letter-spacing: 0.457px;
                    margin-right: 2px;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }

            mat-menu {
                position: absolute;
            }

            .send {
                background-color: $green;
            }

            .pending {
                background-color: $yellow;
            }

            .declined {
                background-color: $pink;
            }
        }
    }
}

/* -----------------------------------------
   Theme entry mixin
------------------------------------------ */
@mixin theme($theme) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }
}