@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');
    $warn: map.get($color-config, 'warn');

    .settings {
        .settings-page {
            margin-top: 24px;
            overflow: hidden;
            box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

            &__action-button {
                text-align: right;

                [mat-raised-button] {
                    margin-right: 1rem;
                }
            }

            &__header {
                margin-top: 10px;
                padding: 10px 16px;
                background-color: $shadow-grey;
                width: 100%;

            }

        }
    }
}


@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

}