@use '/src/assets/styles/styles' as *;


.toastr-wrapper {
  @include toastr-wrapper;
}

.toastr-wrapper-icon {
  @include toastr-wrapper-icon;
}

.toastr-content {
  @include toastr-content;

  &__title {
    @include toastr-content-title;
  }
}

.toastr-icon {
  @include toastr-icon;
}

:host {
  @include toastr(#ff9060);
}