@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');
    $warn: map.get($color-config, 'warn');

    .ez-class {
        .ez-class-list {
            margin-top: 24px;
            padding: 0;
            overflow: hidden;
            box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

            &__header {
                color: $grey;
                display: flex;
                justify-content: space-between;
                padding: 24px 24px 8px;
                margin-bottom: 0;
            }

            &__content {

                overflow-y: hidden;
                overflow-x: scroll;

                @media (max-width: $small) {
                    height: auto;
                }

            }

            &__item {
                overflow: hidden;
                box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

            }

            &__item-title span {
                font-size: 18px;
                color: $grey;
            }

            &__btn {
                text-align: right;
                width: 100%;
            }


        }

        .float-right {
            position: absolute;
            top: 0;
            right: 0;
        }


    }
}



@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

}