/* For use in src/lib/core/theming/_palette.scss */
$md-warn: (
    50 : #fbe3e3,
    100 : #f5b9b9,
    200 : #ef8b8b,
    300 : #e95d5d,
    400 : #e43a3a,
    500 : #df1717,
    600 : #db1414,
    700 : #d71111,
    800 : #d20d0d,
    900 : #ca0707,
    A100 : #fff4f4,
    A200 : #ffc1c1,
    A400 : #ff8e8e,
    A700 : #ff7474,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e0f2f1,
    100 : #b3e0db,
    200 : #80cbc4,
    300 : #4db6ac,
    400 : #26a69a,
    500 : #009688,
    600 : #008e80,
    700 : #008375,
    800 : #00796b,
    900 : #006858,
    A100 : #97ffec,
    A200 : #64ffe3,
    A400 : #31ffda,
    A700 : #18ffd5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #fef5e5,
    100 : #fde7bf,
    200 : #fcd795,
    300 : #fbc76a,
    400 : #fabb4a,
    500 : #f9af2a,
    600 : #f8a825,
    700 : #f79f1f,
    800 : #f69619,
    900 : #f5860f,
    A100 : #ffffff,
    A200 : #fff6ed,
    A400 : #ffdbba,
    A700 : #ffcea1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

