@use 'app/shared/header/containers/header/header.component.theme' as header;
@use 'app/shared/header/components/user/user.component.theme' as user;
@use 'app/shared/sidebar/sidebar.component.theme' as sidebar;
@use 'app/pages/auth/containers/auth-page/auth-page.component.theme' as auth;
@use 'app/pages/students/students-list/students-list.component.theme' as students;
@use 'app/pages/editions/editions-list/editions-list.component.theme' as editions;

@use 'app/pages/editions/edition-details/edition-details.component.theme' as editions-details;
@use 'app/pages/editions/edition-video/edition-video.component.theme.scss' as edition-video;
@use 'app/shared/confirmation/confirmation.component.theme.scss' as confirmation;
@use 'app/pages/notifications/notifications-list/notifications-list.theme.scss' as notifications;
@use 'app/pages/notifications/add-notification/add-notification.component.theme.scss' as notification;
@use 'app/pages/classes/class-list/class-list.component.theme.scss' as classes;
@use 'app/pages/classes/add-edit-class/add-edit-class.component.theme.scss' as add-edit-class;
@use 'app/pages/settings/component/settings/settings.component.theme.scss' as settings;
@use 'app/pages/admins/admin-list/admin-list.component.theme.scss' as admins;
@use 'app/pages/admins/admin-edit-update/admin-edit-update.component.theme.scss' as edit-admin;

@mixin app-component($theme) {
    @include header.theme($theme);
    @include user.theme($theme);
    @include sidebar.theme($theme);
    @include auth.theme($theme);
    @include students.theme($theme);
    @include editions.theme($theme);
    @include editions-details.theme($theme);
    @include confirmation.theme($theme);
    @include notifications.theme($theme);
    @include notification.theme($theme);
    @include classes.theme($theme);
    @include add-edit-class.theme($theme);
    @include edition-video.theme($theme);
    @include settings.theme($theme);
    @include admins.theme($theme);
    @include edit-admin.theme($theme);

}