@use '/src/app/shared/header/containers/header/header.component.theme' as header;
@use '/src/app/shared/header/components/user/user.component.theme' as user;
@use '/src/app/shared/sidebar/sidebar.component.theme' as sidebar;
@use '/src/app/pages/auth/containers/auth-page/auth-page.component.theme' as auth;
@use '/src/app/pages/students/students-list/students-list.component.theme' as students;


@mixin app-component($theme) {
    @include header.theme($theme);
    @include user.theme($theme);
    @include sidebar.theme($theme);
    @include auth.theme($theme);
    @include students.theme($theme);
}