// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use './theming' as theme;
@use './component.theme' as component;
@use 'sass:map';

// For more information: https://material.angular.io/guide/theming

@use '/src/assets/styles/styles' as *;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.core();
@include mat.all-component-typographies();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ez-lesson-primary: mat.m2-define-palette(theme.$md-primary);
$ez-lesson-accent: mat.m2-define-palette(theme.$md-accent);

// The warn palette is optional (defaults to red).
$ez-lesson-warn: mat.m2-define-palette(theme.$md-warn);


$ez-lesson-theme: mat.m2-define-light-theme((color: (primary: $ez-lesson-primary,
        accent: $ez-lesson-accent,
        warn: $ez-lesson-warn,
      ),
      density: 0,
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($ez-lesson-theme);
@include component.app-component($ez-lesson-theme);



button.mat-menu-item {
  font-size: 16px;
}

button.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  font-size: 16px;
}

mat-form-field {
  mat-select.mat-select {
    width: 90%;
    //background-color: red;
    border: 0px solid $light-grey;
    padding: 0 !important;
  }
}

mat-select.mat-select {
  width: 90%;
  display: inline;
  font-size: 16px;
  font-weight: 300;
  color: $dark-grey;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 8px 10px;

  & .mat-select-value {
    width: 100%;
    display: inline;
  }

  & .mat-select-arrow {
    color: $light-grey;
    margin-right: 0;
  }
}

.mat-option {
  font-size: 16px;
  height: 36px;
  padding: 6px 16px;
  color: $dark-grey;

  &.mat-focus-indicator.mat-selected.mat-active {
    background-color: $blue-white;
    color: $dark-grey;
  }

  &:hover:not(.mat-option-disabled) {
    background-color: $blue-white;
  }
}

.mat-form-field-underline {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ddcfc2;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-weight: 400;
  font-size: 48px;
}

.mat-h2,
.mat-headline,
.mat-typography h2 {
  font-weight: 400;
  font-size: 36px;
}

.mat-h3,
.mat-headline,
.mat-typography h3 {
  font-weight: 400;
  font-size: 26px;
}

.mat-h4,
.mat-headline,
.mat-typography h4 {
  font-weight: 400;
  font-size: 24px;
}

.mat-h5,
.mat-headline,
.mat-typography h5 {
  font-weight: 400;
  font-size: 21px;
}

.mat-h6,
.mat-headline,
.mat-typography h6 {
  font-weight: 400;
  font-size: 18px;
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
  margin-bottom: 16px;
  line-height: normal;
}

button.mat-fab .mat-button-wrapper {
  padding: 0;
}

.mat-card {
  color: $card-font-color;
  margin: 16px;
}

.mat-card-title p {
  font-size: 21px;
  font-weight: 400;
  color: $card-title-font-color;
}

mat-toolbar.page-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 24px 16px 24px;
  background: none;
  height: auto;

  @media (max-width: $small) {
    flex-direction: column;
    align-items: baseline;
  }
}

.mat-toolbar h1 {
  font-weight: 400;
  font-size: 38.4px;
  color: $toolbar-title-font-color;
  line-height: 1;
  letter-spacing: -0.2186px;

  @media (max-width: $small) {
    white-space: normal;
  }
}

.mat-toolbar button {
  line-height: 1.75;
  font-size: 0.9375rem;
  font-weight: 400;

  @media (max-width: $small) {
    margin-top: 16px;
  }
}

mat-tab-header .mat-tab-label,
.mat-tab-link {
  text-transform: uppercase;
  color: $tabs-header-font-color;
  font-weight: $fw-normal;
  width: 50%;
  min-width: 0;
  padding: 0;
  opacity: 1;
}

mat-tab-header .mat-tab-label-active {
  color: $tabs-header-font-color-active;
}

mat-tab-group.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: $tabs-ink-bar-color;
}

mat-tab-body div.mat-tab-body-content {
  overflow: hidden;
}

.toast-top-center {
  top: 76px;
}

.toast-top-left {
  top: 76px;
}

.toast-top-right {
  top: 76px;
}

.toast-bottom-center {
  bottom: 12px;
}

.toast-container .ngx-toastr {
  padding: 16px;
  border-radius: 45px;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px $light-grey;
}

.mat-icon {
  // padding: 3px;
}

.material-icons {
  // font-size: 28px;
}

button.mat-mini-fab .mat-button-wrapper {
  // padding: 0;
}

button.mat-mini-fab {
  // height: 36px;
  // width: 36px;
}

div.mat-menu-panel {
  margin-top: 20px;
}

.fa {
  font-size: 1.5em;
}

.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light {
  background-color: $chart-tooltip-background-color;
  color: $chart-tooltip-font-color;
  border: none;
}

div.apexcharts-xaxistooltip-bottom:after {
  border-bottom-color: $chart-tooltip-border-color;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}

::-webkit-scrollbar-track-piece {
  background-color: $scrollbar-track-piece-color;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: $light-grey;
  border-radius: 36px;
}

::-webkit-scrollbar-corner {
  background-color: $scrollbar-corner-color;
}

::-webkit-resizer {
  background-color: $dark-grey;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}

.field-label {
  color: $dark-grey;
  padding: 4px 0;
  font-size: $fs-small;
  font-weight: $fw-lighter;
}

.mat-form-field {
  width: 100%;
}

mat-select.mat-select {
  display: inline-block !important;
  //width: inherit !important;

}

.image-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.image-upload,
.video-upload {
  font-size: 60px !important;
  height: 60px !important;
  width: 60px !important;
  color: mat.m2-get-color-from-palette($ez-lesson-primary);
}

.text-center {
  text-align: -webkit-center;
}

.text-left {
  text-align: -webkit-left;
}

.mat-form-field-infix {
  display: flex !important;
}

.date-picker.mat-form-field-appearance-outline .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {

  padding: 0 !important;
}

.mat-dialog-container {
  border-radius: 40px !important;
}

.text-warn {
  color: mat.m2-get-color-from-palette($ez-lesson-warn);
}

.text-secondary {
  color: mat.m2-get-color-from-palette($ez-lesson-accent);
}

.remove-file {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);

}

.pdf-wrapper {
  position: relative;
  /* Ensure the wrapper is a positioned parent */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  /* Adjust height as needed */
  // width: 100px;

}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  background-color: white !important;
}