@import '/src/assets/styles/styles';

mat-select.mat-select {
    display: inline-block !important;
    min-width: 90%;
    border: none !important;
    padding: 0;
}

.mat-card-actions {
    padding: 4px !important;
    margin: 4px !important;
    border-top: 0.5px solid grey !important;
}