<section class="add-editions">
    <mat-card class="add-editions__card">
        <!-- <div class="editions-table__header"> -->

        <div class="add-editions__header-item">
            {{title}} Edition
        </div>
        <mat-card-content>
            <div class="add-editions__form-section">
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="45">
                        <mat-form-field appearance='outline'>
                            <mat-select [(value)]="class" (selectionChange)="changeClass()" [disabled]="edit">
                                <ng-container *ngFor="let option of classes$|async">
                                    <mat-option [value]="option.id">{{option.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field appearance='outline'>
                            <mat-select [(value)]="subject" [disabled]="edit">
                                <ng-container *ngFor="let option of subjects$|async">
                                    <mat-option [value]="option.id">{{option.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field appearance='outline'>
                            <mat-label> Edition</mat-label>
                            <input matInput placeholder="Edition Name" [(ngModel)]="edition.name" required>

                        </mat-form-field>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field appearance='outline'>
                            <mat-label>Description</mat-label>
                            <textarea matInput [(ngModel)]="edition.desc" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                required></textarea>
                        </mat-form-field>
                    </div>

                    <div fxFlex="45">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="30" class="text-center">
                                <div class="image-wrapper" (click)="editionFileInput.click()">
                                    <ng-container *ngIf="edition.image else imageSelector">
                                        <img [src]="edition.image" />
                                    </ng-container>
                                    <ng-template #imageSelector>
                                        <mat-icon class="image-upload">photo_library</mat-icon>
                                    </ng-template>
                                </div>
                            </div>
                            <div fxFlex="70" style="display: flex; align-items: center;">
                                <input type="file" hidden #editionFileInput (change)="editionFileChangeEvent($event)" />

                                <mat-form-field appearance='outline'>
                                    <mat-label>Select Image</mat-label>
                                    <input matInput placeholder="Select Image" [(ngModel)]="editionImage" readonly
                                        (click)="editionFileInput.click()">

                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                    <div fxFlex="45">
                        <mat-form-field appearance='outline' class="date-picker">
                            <mat-label>Choose a date</mat-label>
                            <input matInput placeholder="MM/DD/YYYY" (click)="picker.open()" [(ngModel)]="publishDate"
                                [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <div class="add-editions__header-item">
                Add topics
            </div>
            <div class="add-editions__topics">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5">
                    <div fxFlex="20">
                        <mat-form-field appearance='outline'>
                            <mat-label> Topic Name</mat-label>
                            <input matInput placeholder="Topic Name" [(ngModel)]="topic.name" required>

                        </mat-form-field>
                    </div>
                    <div fxFlex="20">
                        <mat-form-field appearance='outline'>
                            <mat-label>Topic Description</mat-label>
                            <textarea matInput [(ngModel)]="topic.desc" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                required></textarea>
                        </mat-form-field>
                    </div>
                    <div fxFlex="5" class="text-center">
                        <input type="file" hidden #imgFileInput (change)="fileChangeEvent($event)" />
                        <div class="image-wrapper" (click)="imgFileInput.click()">
                            <mat-icon class="image-upload">photo_library</mat-icon>
                            <ng-container *ngIf="topicFile else selectImageTemplete">
                                <div class="selected-file"> {{topicFile}}</div>

                            </ng-container>
                            <ng-template #selectImageTemplete>
                                <div class="select-section">Select image</div>
                            </ng-template>
                        </div>
                    </div>
                    <div fxFlex="5" class="text-center">
                        <input type="file" hidden #pdfFileInput (change)="pdfFileChangeEvent($event)" />
                        <div class="image-wrapper" (click)="pdfFileInput.click()">
                            <mat-icon class="image-upload">picture_as_pdf</mat-icon>
                            <ng-container *ngIf="topicPdfFile else selectPdfTemplete">
                                <div class="selected-file"> {{topicPdfFile}}</div>

                            </ng-container>
                            <ng-template #selectPdfTemplete>
                                <div class="select-section"> Select PDF</div>
                            </ng-template>
                        </div>
                    </div>
                    <div fxFlex="5">
                        <div>
                            <button mat-mini-fab color="primary" aria-label="Add Topic" (click)="addTopic()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>

                    </div>
                    <ng-container *ngIf="progress$ | async as progress">
                        <div class="progress" *ngIf="progress > 0" style="margin-top: 10px; width: 100% !important">
                            <span *ngIf="progress < 100">Uploading...</span>
                            <span *ngIf="progress == 100">Upload Completed...</span>
                            <mat-progress-bar *ngIf="progress < 100" mode="determinate"
                                value="{{ progress }}"></mat-progress-bar>
                            <mat-progress-bar *ngIf="progress == 100" mode="indeterminate"></mat-progress-bar>
                        </div>
                    </ng-container>
                </div>

                <ng-container *ngIf="edition.topics && edition.topics.length">
                    <app-topic-list [topics]="edition.topics"></app-topic-list>
                </ng-container>
            </div>

        </mat-card-content>
        <mat-card-actions align="end" class="mat-card-actions">
            <button mat-button color="warn">Cancel</button>
            <ng-container *ngIf="edit  else submit;">
                <button mat-raised-button color="primary" (click)="editEdition()">Submit</button></ng-container>
            <ng-template #submit>
                <button mat-raised-button color="primary" (click)="submitEditions()">Submit</button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</section>