@use '/src/assets/styles/styles' as *;


.mat-mdc-card-actions {
    padding: 8px !important;
    margin: 4px !important;
    border-top: 0.5px solid grey !important;

    .mat-mdc-button {
        margin-right: 12px;

    }
}