@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/assets/styles/styles' as *;

/* -----------------------------------------
   Color mixin (M2 theming)
------------------------------------------ */
@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);



  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);

  .header {
    background-color: mat.m2-get-color-from-palette($primary) !important;

    &__title-text {
      color: $header-title-font-color;

      .suffix {
        color: mat.m2-get-color-from-palette($accent) !important;
      }
    }
  }
}

/* -----------------------------------------
   Theme entry point
------------------------------------------ */
@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
}